# ========================
# DEPLOY SETTINGS
# ========================
# APP GUNICORN SETTINGS
GUNICORN_HOST=0.0.0.0
GUNICORN_PORT=8000
GUNICORN_WORKERS_PER_CORE=1
# GUNICORN_MAX_WORKERS=4
# GUNICORN_WEB_CONCURRENCY=2
GUNICORN_GRACEFUL_TIMEOUT=120
GUNICORN_TIMEOUT=120
GUNICORN_KEEPALIVE=5
GUNICORN_LOG_LEVEL=INFO

# POSTGRES DB SETTINGS
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres


# ========================
# APP SETTINGS
# ========================
APP_CONFIG__ENVIRONMENT=LOCAL

# CORS
APP_CONFIG__CORS__HEADERS=["*"]
APP_CONFIG__CORS__ORIGINS=["http://localhost:3000"]

# ACCESS TOKEN SETTINGS
APP_CONFIG__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=abcdefg12345678
APP_CONFIG__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=abcdefg12345678

# DEFAULT USER CREDS
APP_CONFIG__DEFAULT_USER__EMAIL=admin@admin.com
APP_CONFIG__DEFAULT_USER__PASSWORD=admin
APP_CONFIG__DEFAULT_USER__IS_ACTIVE=true
APP_CONFIG__DEFAULT_USER__IS_SUPERUSER=true
APP_CONFIG__DEFAULT_USER__IS_VERIFIED=true

# POSTGRES CREDS
APP_CONFIG__DB__HOST=localhost
APP_CONFIG__DB__PORT=5432
APP_CONFIG__DB__USER=postgres
APP_CONFIG__DB__PASSWORD=postgres
APP_CONFIG__DB__DATABASE=postgres
APP_CONFIG__DB__ECHO=1